/**
 * Custom rules on top of Bootstrap
 */

/**
 * Not really centered, but just set down a little from the top.
 */
.vcenter {
    margin-top: 6em;
}

a.custom {
    color: #aa0000;
}

a.custom:hover {
    color: #cc0000;
}