{% extends "layout.html" %}
{% block body %}
<br />
<div class="container">
    <div class="row">
        <div class="col-md-2">
           <h1 class="logo">Smartpill</h1>
        </div>
        <div class="col-md-10">
            <ul class="nav nav-tabs">
                <!-- todo generate these in python so we know which is active... -->
                <li role="presentation" class="active">
                    <a href="#">Caregiver Dashboard - <strong>{{ session['name'] }}</strong></a>
                </li>
                <li role="presentation">
                    <a href="{{ url_for('logout') }}">Logout</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <br /><br />
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="alert alert-info" role="alert">
                <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>

                {% for message in messages %}
                        {{ message }}<br />
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}

    <script type="text/javascript" src="https://www.google.com/jsapi"></script>

    <h2>My Patients and Prescriptions</h2>
    <p>
        <a href="#" class="btn btn-default" data-toggle="modal" data-target="#addPatientModal">Add Patient</a>
    </p>

    <script>
        // We'll need to track who we add prescriptions to...
        var targetPatient = -1;
        var targetName = '';

        function updateTarget() {
            $('#addPrescriptionModalTitle').html('Add Prescription for ' + targetName);
            $('#inputTarget').val(targetPatient);
        }

        google.load("visualization", "1.1", {packages:["corechart"]});
    </script>

    {% if patients %}
    <ul class="list-unstyled list-wells">
        {% for patient in patients %}
        <li>
            <h3><span class="glyphicon glyphicon-user" style="color: #440000;"> </span> {{patient[1]}}</h3>

             <a href="#" class="btn btn-default" data-toggle="modal" data-target="#addPrescriptionModal" onclick="targetPatient = {{ patient[0] }} ; targetName = '{{ patient[1] }}'; updateTarget(); return false;">
                Add Prescription
            </a>

            <ul class="list-unstyled" style="margin-top: 1em;">
                {% for scrip in relevantPrescriptions %}
                    {% if scrip[2] == patient[0] %}
                    <li style="margin-left: 3em;">
                        <h4>
                            <span class="glyphicon glyphicon-share-alt" style="color: #440000; float: left; margin-left: -1em;"> </span><strong>{{ scrip[1] }}</strong> every
                            {% if scrip[5] > 1 %}
                                <strong>{{ scrip[5] }}</strong> hours
                            {% else %}
                                <strong>hour</strong>
                            {% endif %}
                        </h4>
                        <span class="pull-right">
                            <form class="form-inline" method="POST" action="/caregiver/unprescribe">
                                <input type="number" style="display: none;" name="inputRemove" value="{{ scrip[0] }}" />
                                <button class="btn btn-xs btn-default">Remove</button>
                            </form>
                        </span>
                        <br /><br />
                        <div id="calendar_patient_{{ patient[0] }}_{{ scrip[0] }}" style="width: 50%; height: 350px;">
                            hi~
                        </div>

                        <script>
                            google.setOnLoadCallback(drawChartForPatient_{{ patient[0] }}_{{ scrip[0] }});

                            function drawChartForPatient_{{ patient[0] }}_{{ scrip[0] }}()
                            {
                                var dataTable = new google.visualization.arrayToDataTable([
                                    ['Dose', 'Status'],
                                    {% for dose in doseInformation %}
                                        {% if dose[2] == scrip[0] %}
                                            {% if dose[1]|string == '1' %}
                                                ['Taken', {{ dose[0] }}],
                                            {% else %}
                                                ['Missed', {{ dose[0] }}],
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                ]);


                                var chart = new google.visualization.PieChart(document.getElementById('calendar_patient_{{ patient[0] }}_{{ scrip[0] }}'));

                                var options = {
                                    title: 'Adherence',
                                    pieHole: 0.4,
                                };

                                chart.draw(dataTable, options);
                            }
                        </script>
                    </li>
                    {% endif %}
                {% endfor %}
            </ul>

        </li>
        {% endfor %}
    </ul>
    {% else %}
    <p>You don't have any patients!</p>
    {% endif %}



        <!--



         <script type="text/javascript">
      google.load("visualization", "1.1", {packages:["calendar"]});
      google.setOnLoadCallback(drawChart);

   function drawChartForPatient() {
       var dataTable = new google.visualization.DataTable();
       dataTable.addColumn({ type: 'date', id: 'Date' });
       dataTable.addColumn({ type: 'number', id: 'Won/Loss' });
       dataTable.addRows([
          [ new Date(2012, 3, 13), 1 ],
          [ new Date(2012, 3, 14), 1 ],
          [ new Date(2012, 3, 15), 1 ],
          [ new Date(2012, 3, 16), 1 ],
          [ new Date(2012, 3, 17), 1 ],
          // Many rows omitted for brevity.
          [ new Date(2013, 9, 4), 8 ],
          [ new Date(2013, 9, 5), 1 ],
          [ new Date(2013, 9, 12), 1 ],
          [ new Date(2013, 9, 13), 1 ],
          [ new Date(2013, 9, 19), 1 ],
          [ new Date(2013, 9, 23), 1 ],
          [ new Date(2013, 9, 24), 1 ],
          [ new Date(2013, 9, 30), 1 ],
          [ new Date(2013, 10, 30), 0 ],
               [ new Date(2014, 10, 30), 1 ]
        ]);

       var chart = new google.visualization.Calendar(document.getElementById('calendar_basic'));

       var options = {
         title: "Prescription Adherence",
         height: 500,
       };

       chart.draw(dataTable, options);
   }
    </script>

        <div id="calendar_basic">

        </div>

-->

        <!-- MODAL ELEMENTS -->
        <!-- Modal for adding a patient -->
        <div class="modal fade" id="addPatientModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="addPatientModalTitle">Add a Patient</h4>
              </div>
              <div class="modal-body">
                <ul class="list-inline">
                    {% for p in unclaimed %}
                    <li><a href="/caregiver/claim/{{ p[0] }}" class="btn btn-default">{{ p[1] }}</a></li>
                    {% endfor %}
                </ul>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>

        <!-- Modal for adding a prescription to a patient -->
        <div class="modal fade" id="addPrescriptionModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="addPrescriptionModalTitle">## UNSET ##</h4>
              </div>
              <div class="modal-body">

<form class="form-horizontal" role="form" method="POST" action="/caregiver/prescribe">
  <div class="form-group">
    <label for="inputPrescriptionName" class="col-sm-2 control-label">Medicine</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputPrescriptionName" name="inputPrescriptionName" placeholder="Asprin">
    </div>
  </div>
  <div class="form-group">
    <label for="inputStartDate" class="col-sm-2 control-label">Start Date</label>
    <div class="col-sm-10">
      <input type="datetime-local" class="form-control" id="inputStartDate" name="inputStartDate">
    </div>
  </div>
  <div class="form-group">
    <label for="inputEndDate" class="col-sm-2 control-label">End Date</label>
    <div class="col-sm-10">
      <input type="datetime-local" class="form-control" id="inputEndDate" name="inputEndDate">
    </div>
  </div>
    <div class="form-group">
    <label for="inputFrequency" class="col-sm-2 control-label">Frequency</label>
    <div class="col-sm-10">
      <input type="number" class="form-control" id="inputFrequency" name="inputFrequency">
    </div>
  </div>

    <!-- Hidden field to track which patient we're modifying. -->
    <input type="number" style="display: none;" id="inputTarget" name="inputTarget" />

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-danger">Confirm Prescription</button>
    </div>
  </div>
</form>


              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
        <!-- END MODAL ELEMENTS -->
    </div>
</div>
{% endblock %}