{% extends "layout.html" %}
{% block body %}
<br />
<div class="container">
    <div class="row">
        <div class="col-md-2">
           <h1 class="logo">Smartpill</h1>
        </div>
        <div class="col-md-10">
            <ul class="nav nav-tabs">
                <li role="presentation" class="active">
                    <a href="#">Patient Dashboard - <strong>{{ session['name'] }}</strong></a>
                </li>
                <li role="presentation">
                    <a href="{{ url_for('logout') }}">Logout</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <br /><br />
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <div class="alert alert-info" role="alert">
                        <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>

                        {% for message in messages %}
                            {{ message }}<br />
                        {% endfor %}
                    </div>
                    <br /><br />
                {% endif %}
            {% endwith %}

        <h2>My Caregiver</h2>
        {% if caregiver %}
            <p>Your caregiver is <strong>{{ caregiver }}</strong>.</p>
        {% else %}
            <p>You don't have a caregiver!</p>
        {% endif %}

        <h2>My Prescriptions</h2>
        {% if prescriptions %}
            <ul class="list-unstyled list-wells">
            {% for script in prescriptions %}
                <li><strong>{{ script[1] }}</strong> &mdash; take every <strong>{{ (script[5] / 60 / 60)|round(1) }}</strong> hours</strong></li>
            {% endfor %}
            </ul>
        {% else %}
            <p>You don't have any prescriptions!</p>
        {% endif %}

<!--

    <script type="text/javascript" src="https://www.google.com/jsapi"></script>

         <script type="text/javascript">
      google.load("visualization", "1.1", {packages:["calendar"]});
      google.setOnLoadCallback(drawChart);

   function drawChart() {
       var dataTable = new google.visualization.DataTable();
       dataTable.addColumn({ type: 'date', id: 'Date' });
       dataTable.addColumn({ type: 'number', id: 'Won/Loss' });
       dataTable.addRows([
          [ new Date(2012, 3, 13), 1 ],
          [ new Date(2012, 3, 14), 1 ],
          [ new Date(2012, 3, 15), 1 ],
          [ new Date(2012, 3, 16), 1 ],
          [ new Date(2012, 3, 17), 1 ],
          // Many rows omitted for brevity.
          [ new Date(2013, 9, 4), 8 ],
          [ new Date(2013, 9, 5), 1 ],
          [ new Date(2013, 9, 12), 1 ],
          [ new Date(2013, 9, 13), 1 ],
          [ new Date(2013, 9, 19), 1 ],
          [ new Date(2013, 9, 23), 1 ],
          [ new Date(2013, 9, 24), 1 ],
          [ new Date(2013, 9, 30), 1 ],
          [ new Date(2013, 10, 30), 0 ],
               [ new Date(2014, 10, 30), 1 ]
        ]);

       var chart = new google.visualization.Calendar(document.getElementById('calendar_basic'));

       var options = {
         title: "Prescription Adherence",
         height: 500,
       };

       chart.draw(dataTable, options);
   }
    </script>

        <div id="calendar_basic">

        </div>
-->

    </div>
</div>
{% endblock %}